# Prerequisites
*.d

# Config files
*.config.json
!*test.config.json

# Object files
objects*/
build*/
.cache/
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
allegro-win/
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
main
game

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Notas de desenvolvimento
notas*

# ide
.vscode/
.zed/

# diretórios de persistência
data/

#Geração do Lattex 
*tex

docs/html/search/
docs/html/.gitignore
*.tmp

# data
*.db
user_data/

# nvim tavares
.clang-format
.clangd

# output da documentação do doxygen
docs/output